@model CheckoutViewModel

@{
    ViewData["Title"] = $" | {Model.action} Borrow History";
}

<h1>Edit</h1>

<h4>BorrowedItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="@Model.action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="data.Id" />
            <div class="form-group row">
                <label asp-for="data.BorrowedDate" class="control-label"></label>
                <input asp-for="data.BorrowedDate" class="form-control" />
                <span asp-validation-for="data.BorrowedDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="data.ReturnedDate" class="control-label"></label>
                <input asp-for="data.ReturnedDate" class="form-control" />
                <span asp-validation-for="data.ReturnedDate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="data.Borrower" class="control-label"></label>
                <select asp-for="data.Borrower" class="form-control" asp-items="@(new SelectList(Model.Borrowers,"Id","FullName"))"></select>
                <span asp-validation-for="data.Borrower" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="data.Item" class="control-label"></label>
                <select asp-for="data.Item" class="form-control" asp-items="@(new SelectList(Model.Items, "Id", "Name"))"></select>
                <span asp-validation-for="data.Item" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">@Model.action</button>
                    <a asp-controller="Item" asp-action="Index" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Item" asp-action="Index">Back to Items</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
